%h1 Displaying employees

= form_tag '/', method: 'get', class: 'form-horizontal' do
  .control-group
    = text_field_tag :query
    = submit_tag :search

%table.table.table-hover
  %thead
    %tr
      %th ID
      %th Fullname
      %th Account number
      %th Rate
      %th Hours week
      %th hours worked
      %th Salary
      %th 
  %tbody
  - @employees.each do |e|
    %tr
      %td= e.id
      %td= "#{e.firstname} #{e.lastname}"
      - unless e.account.nil?
        %td= e.account.account_number
        %td= e.account.rate
        %td= e.account.hours_week
        %td= e.account.worked_hours
        %td= e.account.salary
      %td= link_to "edit", edit_employee_path(e.id)
  %tr
    %td
    %td
    %td
    %td
    %td
    %td Total
    %td= @total_amount
    %td


= link_to "New employee", new_employee_path
|
= link_to "Export to CSV", reports_path(format: :csv)
